@bg-color: #99cc00;

body{
  height: 955px;
  //background-color: #C30;
  //border: medium solid #FF0;
  //padding-top: 5px; padding-right: 7px; padding-bottom: 7px; padding-left: 7px;
  //color: #FFF;
  //text-align: center;
  //animation-name: Cycle;
  //animation-duration:6s;
  //animation-direction:alternate;
  //animation-iteration-count:infinite;

  //-webkit-animation-name: homeCycle;
  //-webkit-animation-duration: 6s;
  //-webkit-animation-direction: normal;
  //-webkit-animation-iteration-count: infinite;

}

@-webkit-keyframes homeCycle
{
  //-webkit-animation-timing-function: ease;
  0%,100% {background: linear-gradient(#F7ECEC, #162CCE);}
  25% {background: linear-gradient(#F7ECEC, #16CE3B);}
  50% {background: linear-gradient(#F7ECEC, #CE1642);}
  75% {background: linear-gradient(#F7ECEC, #E7D719);}
  //0%,100% {background-color:#006;}
  //25% {background-color:#060;}
  //50% {background-color:#CC3200;}
  //75% {background-color:#603;}
}

#displayFlags {
  background: linear-gradient(blue, gold) !important;
  //background: linear-gradient(to top, white, transparent);
  width: 100px;
  float: left;
  -webkit-transition: width 2s, background 2s, -webkit-transform 2s;
}

#displayFlags:hover {
background: linear-gradient(blue, green);
width:200px;
-webkit-transform:rotate(180deg);
}

#displayCountries {
width: 100px;
//border: 1px solid white;
  float: left;
}

.country {
  line-height: 15px;
}

.selected {
  border: 1px solid black;
}

.match {
  border: 1px solid red;
}

.thumbUp {
  width: 50px; height: 40px;
  background: url('http://web.ntschools.net/w/clydefenton/SiteAssets/pages/SchoolWidePositiveBehaviourSupport/thumbs%20up.png');
  background-size: cover;
}

#timer {
  background-color: black;
  color: white;
  padding: 15px 0px 0px 15px;
  max-width: 170px;
  height: 100px;
  font-size: 60px;
  position: relative;
  top: -120px;
  left: 535px;
  border: 2px solid grey;

  //-webkit-animation-name: stuff;
  //-webkit-animation-duration:6s;
  //-webkit-animation-direction:normal;
  //-webkit-animation-iteration-count:infinite;
  -webkit-animation: stuff 0.7s infinite alternate;
}

@-webkit-keyframes stuff
{
  0% {background: linear-gradient(#F7ECEC, #E6F5EB);}
  10% {background: linear-gradient(#F7ECEC, #CCEBD6);}
  20% {background: linear-gradient(#F7ECEC, #B2E0C2);}
  30% {background: linear-gradient(#F7ECEC, #99D6AD);}
  40% {background: linear-gradient(#F7ECEC, #80CC99);}
  50% {background: linear-gradient(#F7ECEC, #66C285);}
  60% {background: linear-gradient(#F7ECEC, #4DB870);}
  70% {background: linear-gradient(#F7ECEC, #33AD5C);}
  80% {background: linear-gradient(#F7ECEC, #19A347);}
  90% {background: linear-gradient(#F7ECEC, #009933);}
  100% {background: linear-gradient(#F7ECEC, #009933);}
}

#score {
  background-color: black;
  color: white;
  padding: 5px 0px 0px 5px;
  width: 300px; height: 300px;
  font-size: 30px;
  position: relative;
  top: -250px; left: 635px;
  border: 2px solid grey;
  line-height: 55px;
}

#finalScore {
  text-decoration: underline;
  font-size: 40px;
}


#slideshow {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  //box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  top: 0px;
  left: 0px;
}

#slideshow > div {
  z-index: -1;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
}

#first{
  width: 100%;
  height: 100%;
  background: linear-gradient(white, green);
//background: linear-gradient(to bottom right, red, rgba(255,0,0,0));
}

#second{
  width: 100%;
  height: 100%;
background: linear-gradient(white, red);
}

#third{
  width: 100%;
  height: 100%;
background: linear-gradient(white, yellow);
}

#quattro{
  width: 100%;
  height: 100%;
background: linear-gradient(white, blue);
}
